/* General */
html {
  --square-size: min(6vmax, 1.5cm);
  --default-font-size: min(4vh, 0.7cm);

  background-image: url("../images/background.svg");
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
}

h1 {
  all: unset;
  font-size: calc(var(--default-font-size) * 1.2);
  display: block;
  font-weight: bold;
}

small {
  font-size: calc(var(--default-font-size) * 0.5);
}

a {
  color: white;
}

button {
  all: unset;
  text-decoration: none;
  text-align: center;
  appearance: none;
  font-size: calc(var(--default-font-size) * 0.75);
  font-family: sans-serif;
  background-color: white;
  border: 1px solid white;
  border-radius: 5px;
  color: black;
  margin: 10px;
  padding: 1px 6px;
}

button:disabled {
  opacity: 0.5;
}

.App {
  color: white;
  font-family: sans-serif;
  font-size: var(--default-font-size);
  display: grid;
  height: 90vh; /* fallback if svh isn't handled */
  height: 100svh;
  width: 100vw;
  overflow: scroll;
}

.close {
  margin-bottom: 2vh;
}

.info {
  white-space: pre-line;
  display: flex;
  flex-direction: column;
  text-align: center;
  overflow: scroll;
  justify-items: center;
  justify-content: space-evenly;
  align-items: center;
  font-size: calc(var(--default-font-size) * 0.75);
}

.infoText {
  margin: 2vmax;
  background-color: black;
}

.info a {
  color: rgb(0 162 255);
}

#game {
  display: grid;
  grid-template-areas:
    "controls controls"
    "location location"
    "botFace botMessage"
    "acquiredFeatures acquiredFeatures"
    "exit exit"
    "puzzle puzzle";
  grid-template-rows:
    auto
    auto
    1fr
    auto
    auto
    auto;
  grid-template-columns: auto 1fr;
  height: 90vh;
  height: 100svh;
}

#location {
  grid-area: location;
  text-align: center;
  font-size: calc(var(--square-size) * 0.6);
  border-top: 1vmax solid black;
  border-bottom: 1vmax solid black;
  background-color: black;
}

#exitButtons {
  grid-area: exit;
  min-height: var(--square-size);
  background-color: rgb(0 0 0 / 50%);
  z-index: 1;
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
}

#message {
  grid-area: botMessage;
  font-size: calc(var(--square-size) * 0.37);
  min-height: calc(var(--square-size) * 2);
  overflow: scroll;
  white-space: pre-wrap;
  background-color: black;
  border: 1vmax solid black;
}

#message::after {
  content: " |";
  animation: blink 1s step-start infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

#botFace {
  grid-area: botFace;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: calc(80%);
  width: calc(var(--square-size) * 2);
  border-right: 1vmax solid black;
  border-left: 1vmax solid black;
  background-color: black;
}

#botFace.happy,
#botFace.glitchy-happy {
  background-image: url("../images/icons/bot-smile.svg");
}

#botFace.sinister,
#botFace.glitchy-sinister {
  background-image: url("../images/icons/bot-sinister.svg");
}

#botFace.glitchy-sinister,
#botFace.glitchy-happy {
  animation: flicker 0.3s infinite;
}

@keyframes flicker {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  70% {
    opacity: 0.8;
  }

  90% {
    opacity: 0.3;
  }
}

#acquiredFeatures {
  display: flex;
  flex-direction: row;
  grid-area: acquiredFeatures;
  border-top: 0.5vmax solid white;
  padding-top: 1vmax;
}

#acquiredFeatures > div {
  display: flex;
  flex-direction: row;
  height: 10vw;
}

#acquiredFeatures .feature {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: calc(var(--square-size) * 0.8);
  height: calc(var(--square-size) * 0.8);
}

#acquiredFeatures .flask {
  background-image: url("../images/icons/flask.svg");
}

#acquiredFeatures .key {
  background-image: url("../images/icons/key.svg");
  background-size: calc(100% - 5px);
}

#acquiredFeatures .jet {
  background-image: url("../images/icons/jet.svg");
}

#puzzle {
  grid-area: puzzle;
  touch-action: none;
  display: grid;
  grid-template-columns: repeat(7, var(--square-size));
  grid-template-rows: repeat(9, var(--square-size));
  column-gap: 0;
  justify-content: center;
  margin: calc(var(--square-size) * 0.5);
}

.puzzleSquare {
  touch-action: none;
  border: 1px solid black;
  width: var(--square-size);
  height: var(--square-size);
  background-color: rgb(137 132 132);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  box-sizing: border-box;
}

.puzzleSquare.start {
  background-image: url("../images/icons/start.svg");
  background-color: rgb(200 190 78);
}

.puzzleSquare.outer {
  background-color: transparent;
}

.puzzleSquare.flask {
  background-image: url("../images/icons/flask.svg");
  background-size: calc(100% - 10px);
}

.puzzleSquare.key {
  background-image: url("../images/icons/key.svg");
  background-size: calc(100% - 10px);
}

.puzzleSquare.door {
  background-image: url("../images/icons/door.svg");
}

.puzzleSquare.jet {
  background-image: url("../images/icons/jet.svg");
  background-size: calc(100% - 10px);
}

.puzzleSquare.portal {
  background-color: rgb(205 152 238);
  background-image: url("../images/icons/portal.svg");
}

.puzzleSquare.number1 {
  background-image: url("../images/icons/number1.svg");
}

.puzzleSquare.number2 {
  background-image: url("../images/icons/number2.svg");
}

.puzzleSquare.number3 {
  background-image: url("../images/icons/number3.svg");
}

.puzzleSquare.number4 {
  background-image: url("../images/icons/number4.svg");
}

.puzzleSquare.number5 {
  background-image: url("../images/icons/number5.svg");
}

.puzzleSquare.exit-opened {
  background-image: url("../images/icons/exit-opened.svg");
  background-color: rgb(200 190 78);
}

.puzzleSquare.exit-closed {
  background-image: url("../images/icons/exit-closed.svg");
  background-color: rgb(200 190 78);
}

.puzzleSquare.ship {
  background-image: url("../images/icons/ship.svg");
  background-color: rgb(67 67 67);
}

.puzzleSquare.person {
  background-image: url("../images/icons/person.svg");
  background-size: calc(100% + 5px);
}

.puzzleSquare.validNext {
  position: relative;
  box-shadow:
    0 0 10px 5px rgb(60 255 0 / 80%),
    inset 0 0 10px 10px rgb(60 255 0 / 80%);
  transition: box-shadow 0.3s ease-in-out;
}

.puzzleSquare.visited {
  position: relative;
}

.puzzleSquare.visited::before {
  content: "";
  position: absolute;
  width: var(--square-size);
  height: var(--square-size);
  background-size: contain;
}

.puzzleSquare.visited.top-left::before,
.puzzleSquare.visited.left-top::before,
.puzzleSquare.visited.bottom-left::before,
.puzzleSquare.visited.left-bottom::before,
.puzzleSquare.visited.top-right::before,
.puzzleSquare.visited.right-top::before,
.puzzleSquare.visited.bottom-right::before,
.puzzleSquare.visited.right-bottom::before {
  background-image: url("../images/icons/slime-turn.svg");
}

.puzzleSquare.visited.top-bottom::before,
.puzzleSquare.visited.bottom-top::before,
.puzzleSquare.visited.left-right::before,
.puzzleSquare.visited.right-left::before {
  background-image: url("../images/icons/slime-straight.svg");
}

.puzzleSquare.visited.center-bottom::before,
.puzzleSquare.visited.bottom-center::before,
.puzzleSquare.visited.center-top::before,
.puzzleSquare.visited.top-center::before,
.puzzleSquare.visited.center-right::before,
.puzzleSquare.visited.right-center::before,
.puzzleSquare.visited.center-left::before,
.puzzleSquare.visited.left-center::before {
  background-image: url("../images/icons/slime-half.svg");
}

.puzzleSquare.visited.bottom-top-jet::before,
.puzzleSquare.visited.top-bottom-jet::before,
.puzzleSquare.visited.left-right-jet::before,
.puzzleSquare.visited.right-left-jet::before {
  background-image: url("../images/icons/slime-jet.svg");
}

.puzzleSquare.visited.top-right::before,
.puzzleSquare.visited.right-top::before,
.puzzleSquare.visited.top-bottom::before,
.puzzleSquare.visited.bottom-top::before,
.puzzleSquare.visited.center-right::before,
.puzzleSquare.visited.right-center::before,
.puzzleSquare.visited.left-right-jet::before,
.puzzleSquare.visited.right-left-jet::before {
  transform: rotate(90deg);
}

.puzzleSquare.visited.bottom-right::before,
.puzzleSquare.visited.right-bottom::before,
.puzzleSquare.visited.center-bottom::before,
.puzzleSquare.visited.bottom-center::before {
  transform: rotate(180deg);
}

.puzzleSquare.visited.bottom-left::before,
.puzzleSquare.visited.left-bottom::before,
.puzzleSquare.visited.center-left::before,
.puzzleSquare.visited.left-center::before {
  transform: rotate(270deg);
}

/* Large screen, landscape */
@media (orientation: landscape) and (min-height: 600px) and (min-width: 936px) {
  .App,
  #game {
    max-width: calc(var(--square-size) * 15);
  }

  #game {
    grid-template-rows:
      auto
      auto
      calc(var(--square-size) * 3)
      auto
      1fr;
  }
}

/* Large screen, portrait */
@media (orientation: portrait) and (min-height: 600px) and (min-width: 600px) {
  #game {
    grid-template-rows:
      auto
      auto
      calc(var(--square-size) * 3)
      auto
      1fr;
  }
}
