/* General */
html {
  --default-box-size: min(8vw, 5.5vh);
  --default-font-size: calc(var(--default-box-size) * 0.9);
  --dark-color: rgb(55 54 71);
  --light-color: rgb(239 239 239);

  background-color: var(--dark-color);
}

body {
  margin: 0;
}

h1 {
  all: unset;
  font-size: calc(var(--default-font-size) * 1.2);
  display: block;
  font-weight: bold;
}

small {
  font-size: calc(var(--default-font-size) * 0.5);
}

a {
  color: var(--light-color);
}

button {
  all: unset;
  text-decoration: none;
  text-align: center;
  appearance: none;
  font-size: calc(var(--default-font-size) * 0.75);
  font-family: sans-serif;
  background-color: var(--light-color);
  border: 1px solid var(--light-color);
  border-radius: 5px;
  color: black;
  margin: 10px;
  padding: 1px 6px;
}

button:disabled {
  opacity: 0.5;
}

.App {
  background-color: var(--dark-color);
  color: var(--light-color);
  font-family: sans-serif;
  font-size: var(--default-font-size);
  display: grid;
  height: 90vh; /* fallback if svh isn't handled */
  height: 100svh;
  width: 100vw;
  overflow: scroll;
}

#info {
  white-space: pre-line;
  padding: 5vmin;
}

.close {
  margin-bottom: 2vh;
}

.info {
  white-space: pre-line;
  display: flex;
  flex-direction: column;
  text-align: center;
  overflow: scroll;
  justify-items: center;
  justify-content: space-evenly;
  align-items: center;
  font-size: calc(var(--default-font-size) * 0.75);
}

.infoText {
  margin: 2vmax;
}

.info a {
  color: rgb(0 162 255);
}

#todo-app-name {
  display: grid;
  grid-template-areas:
    "controls"
    "game";
  grid-template-rows:
    auto
    1fr;
}

#game {
  grid-area: game;
}

#exitDaily {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  grid-area: controls;
  width: 100vw;
  height: calc(var(--default-box-size) * 1.2);
  border-bottom: 2px solid var(--light-color);
}

/* todo delete unused above */


#acquiredFeatures {
  display: flex;
  flex-direction: row;
}

#acquiredFeatures>div {
  display: flex;
  flex-direction: row;
  height: 10vw;
}

#acquiredFeatures .feature {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 10vw;
  height: 10vw;
}

#puzzle {
  touch-action: none;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.puzzleSquare {
  touch-action: none;
  border: 1px solid black;
  /* todo make square size more robust for different screen sizes */
  width: 10vw;
  height: 10vw;
  background-color: rgb(137, 132, 132);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  /* todo make icons smaller */
}

.puzzleSquare.start {
  background-image: url("../images/icons/start.svg");
  background-color: rgb(200, 190, 78);
}

.puzzleSquare.outer {
  background-color: black;
}

.puzzleSquare.flask, #acquiredFeatures .flask {
  background-image: url("../images/icons/flask.svg");
}

.puzzleSquare.key {
  background-image: url("../images/icons/key.svg");
}

.puzzleSquare.door {
  background-image: url("../images/icons/door.svg");
}

.puzzleSquare.jet {
  background-image: url("../images/icons/jet.svg");
}

.puzzleSquare.portal {
  background-color: rgb(205, 152, 238);
  background-image: url("../images/icons/portal.svg");
}

.puzzleSquare.number1 {
  background-image: url("../images/icons/number1.svg");
}

.puzzleSquare.number2 {
  background-image: url("../images/icons/number2.svg");
}

.puzzleSquare.number3 {
  background-image: url("../images/icons/number3.svg");
}
/* todo numbers 4-9 */

.puzzleSquare.exit {
  /* todo change to be exit opened/closed */
  background-image: url("../images/icons/exit-closed.svg");
  background-color: rgb(200, 190, 78);
}

.puzzleSquare.visited {
  background-image: url("../images/icons/slime.svg");
}

.puzzleSquare.person {
  background-image: url("../images/icons/person.svg");
}
