
#controls {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  grid-area: controls;
  width: 100vw;
  border-bottom: 2px solid var(--light-color);
  background-color: black;
}

.controlButton {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: 0;
  width: var(--default-font-size);
  height: var(--default-font-size);
  background-color: transparent;
  padding: 1px 6px;
}

#mapIcon {
  background-image: url("../images/icons/map.svg");
}

#shareIcon {
  background-image: url("../images/icons/share.svg");
}

#installIcon {
  background-image: url("../images/icons/install.svg");
}

#heartIcon {
  background-image: url("../images/icons/heart.svg");
}

#refreshIcon {
  background-image: url("../images/icons/refresh.svg");
}
