#controls {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  grid-area: controls;
  border-bottom: 0.5vmax solid white;
  background-color: black;
}

.controlButton {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: 0;
  width: calc(var(--square-size) * 0.6);
  height: calc(var(--square-size) * 0.6);
  background-color: transparent;
  padding: 1px 6px;
}

#mapIcon {
  background-image: url("../images/icons/map.svg");
}

#shareIcon {
  background-image: url("../images/icons/share.svg");
}

#installIcon {
  background-image: url("../images/icons/install.svg");
}

#heartIcon {
  background-image: url("../images/icons/heart.svg");
}
