#map {
  display: flex;
  flex-direction: column;
}

#map button {
  background-color: black;
  color: white;
}

#map button:disabled {
  opacity: 0.6;
}

#mapRooms {
  display: flex;
  flex-direction: column;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.mapTypeButton{
  border: 2px solid white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: calc(var(--square-size) * 0.7);
  width: 90vw;
}

.mapStationBlock {
  align-items: self-end;
  display: flex;
  flex-direction: column;
}
.mapStationButton {
  border: 2px solid white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: calc(var(--square-size) * 0.7);
  width: 85vw;
}

.mapRoomButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80vw;
  min-height: calc(var(--square-size) * 0.7);
}

.mapScore {
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow: hidden;
}

.fullFlask,
.emptyFlask {
  width: calc(var(--square-size) / 2);
  height: calc(var(--square-size) / 2);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.fullFlask {
  background-image: url("../images/icons/flask.svg");
}

.emptyFlask {
  background-image: url("../images/icons/flask-empty.svg");
}
