#map {
  display: flex;
  flex-direction: column;
}

#map button {
  background-color: black;
  color: white;
}

#map button:disabled {
  opacity: 0.6;
}

#mapRooms {
  display: flex;
  flex-direction: column;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.mapStationButton {
  min-height: var(--square-size);
}

.mapRoomButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80vw;
  min-height: calc(var(--square-size) * 0.5);
}

.mapScore {
  display: flex;
  flex-direction: row;
}

.fullFlask,
.emptyFlask {
  width: var(--default-font-size);
  height: var(--default-font-size);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.fullFlask {
  background-image: url("../images/icons/flask.svg");
}

.emptyFlask {
  background-image: url("../images/icons/flask-empty.svg");
}
